body {background-color: gold;}

body {
    text-align: center;

}

img {
    width: 350px;
}

.title {
    font-size: 50px;
    font-weight: 800;
}

.buttons {
    display: flex;
    justify-content: center;

}

p {
    font-size: 30px;
    font-weight: 800;
}


button {
    height: 40px;
}


h1 {
    font-size: 50px;
    color: green;
}
h2 {
    font-size: 50px;
    color: green;
}
h3 {
    font-size: 50px;
    color: green;
}

/* 
.story-opening{
   display:none;
}
*/

/* 
.buttons{
   display:none;
}
*/


.option-one-screen{
   display:none;
}


.option-two-screen{
   display:none;
}


.option-one-end{
   display:none;
}


.option-two-end{
   display:none;
}
